[tool.towncrier]
package = "plugin_template"
filename = "CHANGES.rst"
directory = "CHANGES/"
title_format = "{version} ({project_date})"
template = "CHANGES/.TEMPLATE.rst"
issue_format = "`#{issue} <https://github.com/pulp/plugin_template/issues/{issue}>`_"

[tool.black]
line-length = 100
target-version = ["py36", "py37", "py38"]
exclude = '''
/(
    \.eggs
  | \.git
  | \.venv
  | _build
  | build
  | dist
  | migrations
  | docs
)/
'''
