# Click is pinned because of:
# https://github.com/pallets/click/issues/3065
click<8.3
# This needs to match the version in templates/github/lint_requirement.txt.j2
black==24.3.0
jinja2
pyyaml
requests~=2.32.3
requests_cache
tomlkit
