{%- include 'header.j2' %}
---
sudo: required
# https://docs.travis-ci.com/user/trusty-ci-environment/
dist: bionic
language: python
python:
  # Fedora has 3.6 available (python36.x86_64), but pulp container images
  # with it are not being built or published yet.
  # - "3.6"
  - "3.7"
env:
  matrix:
    - TEST=pulp
    {%- if docs_test %}
    - TEST=docs
    {%- endif %}
    {%- if test_bindings %}
    - TEST=bindings
    {%- endif %}
    {%- if test_s3 %}
    - TEST=s3
    {%- endif %}
{%- if test_bindings or docs_test %}
{%- endif %}
services:
  - docker
{%- for item in travis_addtl_services %}
  - {{ item }}
{%- endfor %}
addons:
  apt:
    packages:
      - httpie
      - jq
before_install: .travis/before_install.sh
install: .travis/install.sh
before_script: .travis/before_script.sh
script: .travis/script.sh
after_failure:
  - http --timeout 30 --check-status --pretty format --print hb http://pulp/pulp/api/v3/status/
  - docker images
  - docker ps -a
  - docker logs pulp
{%- if plugin_name == 'pulp_rpm' %}
  - docker exec pulp ls -latr /etc/yum.repos.d/
  - docker exec pulp cat /etc/yum.repos.d/*
{%- endif %}
jobs:
  include:
{%- if not test_bindings and not docs_test %}
    # So long as we have a build matrix of only 1 build (via only 1 python
    # version), we need this as a stub for the default implicit stage also
    # called "test".
    # It must be removed once there is more than 1 build, or else there will be
    # an additional build.
    # https://github.com/travis-ci/travis-ci/issues/8536
    # https://github.com/travis-ci/travis-ci/issues/4681
    - stage: test
{%- endif %}
    {%- if deploy_to_pypi %}
    - stage: deploy
      name: "Deploy plugin to pypi"
      before_install: skip
      install: skip
      before_script: skip
      script: bash .travis/publish_plugin_pypi.sh
      if: tag IS present
    {%- endif %}
    {%- if deploy_daily_client_to_rubygems %}
    - stage: deploy
      name: "Publish client to rubygems"
      script: bash .travis/publish_client_gem.sh
      env:
        - TEST=bindings
      if: type = cron
    {%- endif %}
    {%- if deploy_daily_client_to_pypi %}
    - stage: deploy
      name: "Publish client to pypi"
      script: bash .travis/publish_client_pypi.sh
      env:
        - TEST=bindings
      if: type = cron
    {%- endif %}
    {%- if deploy_client_to_rubygems %}
    - stage: deploy
      name: "Publish client to rubygems"
      script: bash .travis/publish_client_gem.sh
      env:
        - TEST=bindings
      if: tag IS present
    {%- endif %}
    {%- if deploy_client_to_pypi %}
    - stage: deploy
      name: "Publish client to pypi"
      script: bash .travis/publish_client_pypi.sh
      env:
        - TEST=bindings
      if: tag IS present
    {%- endif %}
    {%- if publish_docs_to_pulpprojectdotorg %}
    - stage: publish-tagged-docs
      script: bash .travis/publish_docs.sh tag
      env:
        - TEST=docs
      if: tag IS present
    - stage: publish-continuous-docs
      script: bash .travis/publish_docs.sh nightly
      env:
        - TEST=docs
      if: type != pull_request AND repo = pulp/pulpcore AND branch = master
    {%- endif %}
    {%- if test_performance %}
      {%- if test_performance is iterable %}
        {%- for test in test_performance %}
    - stage: daily-performance-test
      name: "Daily {{test}} performance test"
      env:
        - TEST=performance PERFORMANCE_TEST={{test}}
      if: type = cron
        {%- endfor %}
      {%- else %}
    - stage: daily-performance-test
      env:
        - TEST=performance
      if: type = cron
      {%- endif %}
    {%- endif %}
    {%- if update_redmine %}
    - stage: update-redmine
      before_install: skip
      install: skip
      before_script: skip
      script: bash .travis/update_redmine.sh
      if: tag IS present
    {%- endif %}
    {%- if cherry_pick_automation %}
    - stage: cherry-pick
      if: type = cron
      before_install: skip
      install: skip
      before_script: skip
      script: bash .travis/cherrypick.sh
    {%- endif %}
{%- if travis_notifications %}
{{ {"notifications": travis_notifications} | to_yaml }}
{%- endif %}
...
