{%- include 'header.j2' %}
---
sudo: required
# https://docs.travis-ci.com/user/trusty-ci-environment/
dist: xenial
language: python
python:
  # Fedora has 3.6 available (python36.x86_64), but pulp container images
  # with it are not being built or published yet.
  # - "3.6"
  - "3.7"
env:
  matrix:
    - DB=postgres TEST=pulp
    {%- if docs_test %}
    - DB=postgres TEST=docs
    {%- endif %}
    {%- if test_bindings %}
    - DB=postgres TEST=bindings
    {%- endif %}
{%- if test_bindings or docs_test %}
matrix:
  exclude:
    {%- if test_bindings %}
    - python: '3.6'
      env: DB=postgres TEST=bindings
    {%- endif %}
    {%- if docs_test %}
    - python: '3.6'
      env: DB=postgres TEST=docs
    {%- endif %}
  fast_finish: true
{%- endif %}
services:
  - postgresql
  - redis-server
  - docker
addons:
  apt:
    packages:
      - httpie
      - jq
  # postgres versions provided by el7 RHSCL (lowest supportable version)
  postgresql: '9.6'
before_install: .travis/before_install.sh
install: .travis/install.sh
before_script: .travis/before_script.sh
script: .travis/script.sh
after_failure:
  - http --timeout 30 --check-status --pretty format --print hb http://localhost:24817/pulp/api/v3/status/
  - sudo docker images
  - sudo kubectl logs -l name=pulp-operator -c ansible --tail=10000
  - sudo kubectl logs -l name=pulp-operator -c operator --tail=10000
  - sudo kubectl logs -l app=pulp-api --tail=50000
  - sudo kubectl logs -l app=pulp-content --tail=10000
  - sudo kubectl logs -l app=pulp-resource-manager --tail=10000
  - sudo kubectl logs -l app=pulp-worker --tail=10000
jobs:
  include:
{%- if not test_bindings and not docs_test %}
    # So long as we have a build matrix of only 1 build (via only 1 python
    # version), we need this as a stub for the default implicit stage also
    # called "test".
    # It must be removed once there is more than 1 build, or else there will be
    # an additional build.
    # https://github.com/travis-ci/travis-ci/issues/8536
    # https://github.com/travis-ci/travis-ci/issues/4681
    - stage: test
{%- endif %}
    {%- if deploy_to_pypi %}
    - stage: deploy-plugin-to-pypi
      install: skip
      script: bash .travis/publish_plugin_pypi.sh
      if: tag IS present
    {%- endif %}
    {%- if plugin_name == 'pulpcore' %}
    - stage: publish-beta-docs
      script: bash .travis/publish_docs.sh rc
      env:
        - DB=postgres
        - TEST=docs
      if: tag IS present
    - stage: publish-continuous-docs
      script: bash .travis/publish_docs.sh nightly
      env:
        - DB=postgres
        - TEST=docs
      if: type != pull_request
    {%- endif %}
    {%- if deploy_daily_client_to_rubygems %}
    - stage: publish-daily-client-gem
      script: bash .travis/publish_client_gem.sh
      env:
        - DB=postgres
        - TEST=bindings
      if: type = cron
    {%- endif %}
    {%- if deploy_daily_client_to_pypi %}
    - stage: publish-daily-client-pypi
      script: bash .travis/publish_client_pypi.sh
      env:
        - DB=postgres
        - TEST=bindings
      if: type = cron
    {%- endif %}
    {%- if deploy_client_to_rubygems %}
    - stage: publish-client-gem
      script: bash .travis/publish_client_gem.sh
      env:
        - DB=postgres
        - TEST=bindings
      if: tag IS present
    {%- endif %}
    {%- if deploy_client_to_pypi %}
    - stage: publish-client-pypi
      script: bash .travis/publish_client_pypi.sh
      env:
        - DB=postgres
        - TEST=bindings
      if: tag IS present
    {%- endif %}
{%- if travis_notifications %}
{{ {"notifications": travis_notifications} | to_yaml }}
{%- endif %}
...
