# coding=utf-8
"""Constants for Pulp {{ plugin_camel_short }} plugin tests."""
from urllib.parse import urljoin

from pulp_smash.constants import PULP_FIXTURES_BASE_URL
from pulp_smash.pulp3.constants import BASE_PUBLISHER_PATH, BASE_REMOTE_PATH, CONTENT_PATH

# FIXME: list any download policies supported by your plugin type here.
# If your plugin supports all download policies, you can import this
# from pulp_smash.pulp3.constants instead.
# DOWNLOAD_POLICIES = ["immediate", "streamed", "on_demand"]
DOWNLOAD_POLICIES = ["immediate"]

# FIXME: replace 'unit' with your own content type names, and duplicate as necessary for each type
{{ plugin_caps_short }}_CONTENT_NAME = "{{ plugin_app_label }}.unit"

# FIXME: replace 'unit' with your own content type names, and duplicate as necessary for each type
{{ plugin_caps_short }}_CONTENT_PATH = urljoin(CONTENT_PATH, "{{ plugin_app_label }}/units/")

{{ plugin_caps_short }}_REMOTE_PATH = urljoin(BASE_REMOTE_PATH, "{{ plugin_app_label }}/{{ plugin_dash_short }}/")

{{ plugin_caps_short }}_PUBLISHER_PATH = urljoin(BASE_PUBLISHER_PATH, "{{ plugin_app_label }}/{{ plugin_dash_short }}/")

# FIXME: replace this with your own fixture repository URL and metadata
{{ plugin_caps_short }}_FIXTURE_URL = urljoin(PULP_FIXTURES_BASE_URL, "{{ plugin_app_label }}/")
"""The URL to a {{ plugin_app_label }} repository."""

# FIXME: replace this with the actual number of content units in your test fixture
{{ plugin_caps_short }}_FIXTURE_COUNT = 3
"""The number of content units available at :data:`{{ plugin_caps_short }}_FIXTURE_URL`."""

{{ plugin_caps_short }}_FIXTURE_SUMMARY = {{ '{' }}{{ plugin_caps_short }}_CONTENT_NAME: {{ plugin_caps_short }}_FIXTURE_COUNT}
"""The desired content summary after syncing :data:`{{ plugin_caps_short }}_FIXTURE_URL`."""

# FIXME: replace this with the location of one specific content unit of your choosing
{{ plugin_caps_short }}_URL = urljoin({{ plugin_caps_short }}_FIXTURE_URL, "")
"""The URL to an {{ plugin_app_label }} file at :data:`{{ plugin_caps_short }}_FIXTURE_URL`."""

# FIXME: replace this with your own fixture repository URL and metadata
{{ plugin_caps_short }}_INVALID_FIXTURE_URL = urljoin(PULP_FIXTURES_BASE_URL, "{{ plugin_app_label }}-invalid/")
"""The URL to an invalid {{ plugin_app_label }} repository."""

# FIXME: replace this with your own fixture repository URL and metadata
{{ plugin_caps_short }}_LARGE_FIXTURE_URL = urljoin(PULP_FIXTURES_BASE_URL, "{{ plugin_app_label }}_large/")
"""The URL to a {{ plugin_app_label }} repository containing a large number of content units."""

# FIXME: replace this with the actual number of content units in your test fixture
{{ plugin_caps_short }}_LARGE_FIXTURE_COUNT = 25
"""The number of content units available at :data:`{{ plugin_caps_short }}_LARGE_FIXTURE_URL`."""
