from pulpcore.plugin import PulpPluginAppConfig


class {{ plugin_camel }}PluginAppConfig(PulpPluginAppConfig):
    """Entry point for the {{ plugin_app_label }} plugin."""

    name = "{{ plugin_snake }}.app"
    label = "{{ plugin_app_label }}"
    version = "0.1.0a1.dev"
