from pulpcore.plugin import PulpPluginAppConfig


class {{ plugin_name | camel }}PluginAppConfig(PulpPluginAppConfig):
    """Entry point for the {{ plugin_app_label }} plugin."""

    name = "{{ plugin_name | snake }}.app"
    label = "{{ plugin_app_label }}"
    version = "{{ current_version }}"
    python_package_name = "{{ plugin_name }}"
    domain_compatible = True
