"""
Check `Plugin Writer's Guide`_ for more details.

.. _Plugin Writer's Guide:
    http://docs.pulpproject.org/en/3.0/nightly/plugins/plugin-writer/index.html
"""

from logging import getLogger

from django.db import models

from pulpcore.plugin.models import (
    Content,
    ContentArtifact,
    Remote,
    Repository,
    Publication,
    Distribution,
)

logger = getLogger(__name__)


class {{ plugin_camel_short }}Content(Content):
    """
    The "{{ plugin_dash_short }}" content type.

    Define fields you need for your new content type and
    specify uniqueness constraint to identify unit of this type.

    For example::

        field1 = models.TextField()
        field2 = models.IntegerField()
        field3 = models.CharField()

        class Meta:
            default_related_name = "%(app_label)s_%(model_name)s"
            unique_together = (field1, field2)
    """

    TYPE = "{{ plugin_dash_short }}"

    class Meta:
        default_related_name = "%(app_label)s_%(model_name)s"


class {{ plugin_camel_short }}Publication(Publication):
    """
    A Publication for {{ plugin_camel_short }}Content.

    Define any additional fields for your new publication if needed.
    """

    TYPE = "{{ plugin_dash_short }}"

    class Meta:
        default_related_name = "%(app_label)s_%(model_name)s"


class {{ plugin_camel_short }}Remote(Remote):
    """
    A Remote for {{ plugin_camel_short }}Content.

    Define any additional fields for your new remote if needed.
    """

    TYPE = "{{ plugin_dash_short }}"

    class Meta:
        default_related_name = "%(app_label)s_%(model_name)s"


class {{ plugin_camel_short }}Repository(Repository):
    """
    A Repository for {{ plugin_camel_short }}Content.

    Define any additional fields for your new repository if needed.
    """

    TYPE = "{{ plugin_dash_short }}"

    CONTENT_TYPES = [{{ plugin_camel_short }}Content]

    class Meta:
        default_related_name = "%(app_label)s_%(model_name)s"


class {{ plugin_camel_short }}Distribution(Distribution):
    """
    A Distribution for {{ plugin_camel_short }}Content.

    Define any additional fields for your new distribution if needed.
    """

    TYPE = "{{ plugin_dash_short }}"

    class Meta:
        default_related_name = "%(app_label)s_%(model_name)s"
