{% include 'header.j2' %}

from packaging.requirements import Requirement


# We install these from source, but it would be really handy if we could test pulpcore
# compatibility that way too.
EXCEPTIONS = [
    "pulpcore",
    {%- for item in additional_repos %}
    "{{ item.name }}".replace("-", "_"),
    {%- endfor %}
]


def main():
    """Calculate the lower bound of dependencies where possible."""
    with open("requirements.txt") as req_file:
        for line in req_file:
            try:
                requirement = Requirement(line)
            except ValueError:
                print(line.strip())
            else:
                if requirement.name.replace("-", "_") in EXCEPTIONS:
                    print(line.strip())
                else:
                    for spec in requirement.specifier:
                        if spec.operator == ">=":
                            min_version = str(spec)[2:]
                            print(f"{requirement.name}=={min_version}")
                            break
                    else:
                        print(line.strip())


if __name__ == "__main__":
    main()
