#!/bin/sh

{% include 'header.j2' %}

# make sure this script runs at the repo root
cd "$(dirname "$(realpath -e "$0")")"/../..

set -eu

if [ $# -eq 0 ]; then
  echo "Usage: $0 <filename> [filename ...]"
  exit 1
fi

# grep returns 1 if it doesn't find a match
PATTERN="_(f[\"\']"
if RESULT=$(grep -n "$PATTERN" "$@"); then
  echo "ERROR: Detected mix of f-strings and gettext:"
  echo "$RESULT"
  exit 1
fi
