#!/bin/bash

{% include 'header.j2' %}

set -e

if [ $# -lt 3 ]
then
  echo "Usage: .ci/scripts/cherrypick.sh [commit-hash] [original-issue-id] [backport-issue-id]"
  echo "   ex: .ci/scripts/cherrypick.sh abcd1234 1234 4567"
  echo ""
  echo "Note: make sure you are on a fork of the release branch before running this script."
  exit
fi

commit="$(git rev-parse $1)"
issue="$2"
backport="$3"
commit_message=$(git log --format=%B -n 1 $commit)

echo $commit_message | grep -q -E "(fixes|closes).*#$issue" || \
  (echo "Error: issue $issue not detected in commit message." && exit 1)

git cherry-pick --no-commit "$commit"

for file in $(find CHANGES -name "$issue.*")
do
  git mv "$file" "${file/$issue/$backport}"
done

commit_message="$(printf "$commit_message" | sed -E 's/(fixes|closes)/backports/')"
commit_message="$commit_message

fixes #$backport

(cherry picked from commit $commit)"
git commit -a -m "$commit_message"

printf "\nSuccessfully backported commit $1."
