#!/bin/bash

{% include 'header.j2' %}

set -euv

pip install twine

python3 setup.py sdist bdist_wheel --python-tag py3
twine check dist/* || exit 1
twine upload dist/* -u {{ pypi_username }} -p $PYPI_PASSWORD
