{% include 'header.j2' %}

import os
from github import Github

g = Github(os.environ.get("GITHUB_TOKEN"))
repo = g.get_repo("pulp/{{ plugin_name }}")

GH_ISSUES = os.environ.get("GH_ISSUES")

for issue in GH_ISSUES.split(","):
    issue = repo.get_issue(int(issue))
    if issue.state != "closed":
        print(f"Closing issue: {issue.number}")
        issue.edit(state="closed")
