{% include 'header.j2' %}

import os
import sys
import requests

branches = sys.argv[1:]

headers = {
    "Authorization": f"Bearer {os.environ['GITHUB_TOKEN']}",
    "Accept": "application/vnd.github.v3+json",
}

github_api = "https://api.github.com"
workflow_path = "/actions/workflows/update_ci.yml/dispatches"
url = f"{github_api}/repos/{{ github_org }}/{{ plugin_name }}{workflow_path}"

for branch in branches:
    print(f"Updating {branch}")
    requests.post(url, headers=headers, json={"ref": branch})
