#!/usr/bin/env bash

{% include 'header.j2' %}

# This script prepares the scenario definition in the .ci/ansible/vars/main.yaml file.
#
#   It requires the following environment:
#     TEST - The name of the scenario to prepare.
#
#   It may also dump the {lower,upper}bounds_constraints.txt for the specific scenario.

set -eu -o pipefail

# make sure this script runs at the repo root
cd "$(dirname "$(realpath -e "$0")")"/../../..

if [ -f .github/workflows/scripts/pre_before_install.sh ]; then
  source .github/workflows/scripts/pre_before_install.sh
fi

COMPONENT_VERSION="$(bump-my-version show current_version | tail -n -1 | python -c 'from packaging.version import Version; print(Version(input()))')"
COMPONENT_SOURCE="./{{ plugin_name }}/dist/{{ plugin_name | snake }}-${COMPONENT_VERSION}-py3-none-any.whl"

{%- set PULPCORE_PREFIX = "" if plugin_name == "pulpcore" else " pulpcore" %}
{%- if test_s3 %}
if [ "$TEST" = "s3" ]; then
  COMPONENT_SOURCE="${COMPONENT_SOURCE}{{ PULPCORE_PREFIX }}[s3] git+https://github.com/gerrod3/botocore.git@fix-100-continue"
fi
{%- endif %}
{%- if test_azure %}
if [ "$TEST" = "azure" ]; then
  COMPONENT_SOURCE="${COMPONENT_SOURCE}{{ PULPCORE_PREFIX }}[azure,uvloop]"
fi
{%- endif %}
{%- if test_gcp %}
if [ "$TEST" = "gcp" ]; then
  COMPONENT_SOURCE="${COMPONENT_SOURCE}{{ PULPCORE_PREFIX }}[google]"
fi
{%- endif %}

if [[ "$TEST" = "pulp" ]]; then
  python3 .ci/scripts/calc_constraints.py -u {% if setup_py -%} requirements.txt {% else -%} pyproject.toml {% endif -%} > upperbounds_constraints.txt
fi
if [[ "$TEST" = "lowerbounds" ]]; then
  python3 .ci/scripts/calc_constraints.py {% if setup_py -%} requirements.txt {% else -%} pyproject.toml {% endif -%} > lowerbounds_constraints.txt
fi

# Compose the scenario definition.
mkdir -p .ci/ansible/vars

cat > .ci/ansible/vars/main.yaml << VARSYAML
---
scenario: "${TEST}"
plugin_name: "{{ plugin_name }}"
legacy_component_name: "{{ plugin_name | snake }}"
component_name: "{{ plugin_app_label }}"
component_version: "${COMPONENT_VERSION}"
pulp_env: {{ pulp_env | tojson }}
pulp_settings: {{ pulp_settings | tojson }}
pulp_scheme: "{{ pulp_scheme }}"
image:
  name: "pulp"
  tag: "ci_build"
  {%- if ci_base_image.count(":") %}
  ci_base: "{{ ci_base_image }}"
  {% else %}
  ci_base: "{{ ci_base_image + ":latest" }}"
  {% endif -%}
  source: "${COMPONENT_SOURCE}"
  ci_requirements: $(test -f ci_requirements.txt && echo -n true || echo -n false)
  upperbounds: $(test "${TEST}" = "pulp" && echo -n true || echo -n false)
  lowerbounds: $(test "${TEST}" = "lowerbounds" && echo -n true || echo -n false)
  webserver_snippet: $(test -f {{ plugin_name | snake }}/app/webserver_snippets/nginx.conf && echo -n true || echo -n false )
extra_files:
  - origin: "{{ plugin_name }}"
    destination: "{{ plugin_name }}"
  {%- for item in extra_files %}
  - origin: "{{ item.origin }}"
    destination: "{{ item.destination }}"
  {%- endfor %}
services:
  - name: "pulp"
    image: "pulp:ci_build"
    volumes:
      - "./settings:/etc/pulp"
      - "../../../pulp-openapi-generator:/root/pulp-openapi-generator"
    env:
      PULP_WORKERS: "4"
      PULP_HTTPS: "{{ 'true' if pulp_scheme == 'https' else 'false' }}"
{%- if docker_fixtures %}
  - name: "pulp-fixtures"
    image: "docker.io/pulp/pulp-fixtures:latest"
    env:
      BASE_URL: "http://pulp-fixtures:8080"
{%- endif %}
VARSYAML

if [ "$TEST" = "s3" ]; then
  MINIO_ACCESS_KEY=AKIAIT2Z5TDYPX3ARJBA
  MINIO_SECRET_KEY=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
  cat >> .ci/ansible/vars/main.yaml << VARSYAML
  - name: "minio"
    image: "minio/minio"
    env:
      MINIO_ACCESS_KEY: "${MINIO_ACCESS_KEY}"
      MINIO_SECRET_KEY: "${MINIO_SECRET_KEY}"
    command: "server /data"
s3_test: true
minio_access_key: "${MINIO_ACCESS_KEY}"
minio_secret_key: "${MINIO_SECRET_KEY}"
pulp_scenario_settings: {{ pulp_settings_s3 | tojson }}
pulp_scenario_env: {{ pulp_env_s3 | tojson }}
VARSYAML
fi

if [ "$TEST" = "azure" ]; then
  cat >> .ci/ansible/vars/main.yaml << VARSYAML
  - name: "ci-azurite"
    image: "mcr.microsoft.com/azure-storage/azurite"
    command: "azurite-blob --skipApiVersionCheck --blobHost 0.0.0.0"
azure_test: true
pulp_scenario_settings: {{ pulp_settings_azure | tojson }}
pulp_scenario_env: {{ pulp_env_azure | tojson }}
VARSYAML
fi

if [ "$TEST" = "gcp" ]; then
  cat >> .ci/ansible/vars/main.yaml << VARSYAML
  - name: "ci-gcp"
    image: "fsouza/fake-gcs-server"
    volumes:
      - "storage_data:/etc/pulp"
    command: " -scheme http"
gcp_test: true
pulp_scenario_settings: {{ pulp_settings_gcp | tojson }}
pulp_scenario_env: {{ pulp_env_gcp | tojson }}
VARSYAML
fi

cat >> .ci/ansible/vars/main.yaml << VARSYAML
...
VARSYAML
cat .ci/ansible/vars/main.yaml

if [ -f .github/workflows/scripts/post_before_install.sh ]; then
  source .github/workflows/scripts/post_before_install.sh
fi
