#!/bin/bash

{% include 'header.j2' %}

# make sure this script runs at the repo root
cd "$(dirname "$(realpath -e "$0")")"/../../..

set -euv

echo ::group::REQUESTS
pip3 install requests
{% if issue_tracker=='github' %}
pip3 install pygithub
{% endif %}
echo ::endgroup::

for sha in $(curl $GITHUB_CONTEXT | jq '.[].sha' | sed 's/"//g')
do
  python3 .ci/scripts/validate_commit_message.py $sha
  VALUE=$?
  if [ "$VALUE" -gt 0 ]; then
    exit $VALUE
  fi
done
