#!/bin/bash

{% include 'header.j2' %}

set -euv

# make sure this script runs at the repo root
cd "$(dirname "$(realpath -e "$0")")"/../../..


mkdir ~/.gem || true
touch ~/.gem/credentials
echo "---
:rubygems_api_key: $RUBYGEMS_API_KEY" > ~/.gem/credentials
sudo chmod 600 ~/.gem/credentials

export VERSION=$(ls {{ plugin_snake }}_client* | sed -rn 's/{{ plugin_snake }}_client-(.*)\.gem/\1/p')

if [[ -z "$VERSION" ]]; then
  echo "No client package found."
  exit
fi

export response=$(curl --write-out %{http_code} --silent --output /dev/null https://rubygems.org/gems/{{ plugin_snake }}_client/versions/$VERSION)

if [ "$response" == "200" ];
then
  echo "{{ plugin_name }} client $VERSION has already been released. Skipping."
  exit
fi

GEM_FILE="$(ls {{ plugin_snake }}_client-*)"
gem push ${GEM_FILE}
