#!/bin/bash

{% include 'header.j2' %}

set -euv

# make sure this script runs at the repo root
cd "$(dirname "$(realpath -e "$0")")/../../.."

VERSION="$1"

if [[ -z "$VERSION" ]]; then
  echo "No version specified."
  exit 1
fi

RESPONSE="$(curl --write-out '%{http_code}' --silent --output /dev/null "https://pypi.org/project/{{ plugin_name | dash }}-client/$VERSION/")"

if [ "$RESPONSE" == "200" ];
then
  echo "{{ plugin_name }} client $VERSION has already been released. Skipping."
  exit
fi

twine upload -u pulp -p "$PYPI_API_TOKEN" \
{%- for plugin in plugins %}
"dist/{{ plugin.name | snake }}_client-$VERSION-py3-none-any.whl" \
"dist/{{ plugin.name | snake }}-client-$VERSION.tar.gz" \
{%- endfor %}
;
