#!/bin/bash

{% include 'header.j2' %}

set -euv

# make sure this script runs at the repo root
cd "$(dirname "$(realpath -e "$0")")"/../../..

VERSION="$1"

if [[ -z "$VERSION" ]]; then
  echo "No version specified."
  exit 1
fi

RESPONSE="$(curl --write-out '%{http_code}' --silent --output /dev/null "https://pypi.org/project/{{ plugin_name | dash }}/$VERSION/")"

if [ "$RESPONSE" == "200" ];
then
  echo "{{ plugin_name }} $VERSION has already been released. Skipping."
  exit
fi

twine upload -u __token__ -p "$PYPI_API_TOKEN" \
dist/{{ plugin_name | snake | replace("_", "?") }}-"$VERSION"-py3-none-any.whl \
dist/{{ plugin_name | snake | replace("_", "?") }}-"$VERSION".tar.gz \
;
