#!/bin/sh

{% include 'header.j2' %}

set -eu

BRANCH_NAME="$(echo "$GITHUB_REF" | sed -rn 's/refs\/heads\/(.*)/\1/p')"

remote_repo="https://{{ release_user }}:${RELEASE_TOKEN}@github.com/${GITHUB_REPOSITORY}.git"

git push "${remote_repo}" "$BRANCH_NAME" "$1"
