#!/usr/bin/env bash
{% include 'header.j2' %}

set -eu

if [ ! -f "template_config.yml" ]; then
  echo "No template_config.yml detected."
  exit 1
fi

pushd ../plugin_template
./plugin-template --github {% if ci_update_docs -%} --docs {% endif -%} {{ plugin_name }}
popd

# Check if only gitref file has changed, so no effect on CI workflows.
if [ "$(git diff --name-only | grep -v "template_gitref")" ]; then
  echo "No changes detected."
  git restore ".github/template_gitref" "docs/template_gitref"
fi

if [[ $(git status --porcelain) ]]; then
  git add -A
  git commit -m "Update CI files" -m "{{ noissue_marker | default('[noissue]') }}"
else
  echo "No updates needed"
fi
