#!/usr/bin/env bash
{% include 'header.j2' %}

set -eu

if [ ! -f "template_config.yml" ]; then
  echo "No template_config.yml detected."
  exit 1
fi

pip install -r ../plugin_template/test_requirements.txt

pushd ../plugin_template
./plugin-template --github {{ plugin_name }}
popd

# Check if only gitref file has changed, so no effect on CI workflows.
if [[ $(git diff --name-only) == ".github/template_gitref" ]]; then
  echo "No changes detected in github section."
  git restore ".github/template_gitref"
fi

{%- if ci_update_docs %}

pushd ../plugin_template
./plugin-template --docs {{ plugin_name }}
popd

# Check if only gitref file has changed, so no effect on CI workflows.
if [[ $(git diff --name-only) == "docs/template_gitref" ]]; then
  echo "No changes detected in docs section."
  git restore "docs/template_gitref"
fi

{%- endif %}

if [[ $(git status --porcelain) ]]; then
  git add -A
  git commit -m "Update CI files" -m "{{ noissue_marker | default('[noissue]') }}"
else
  echo "No updates needed"
fi
