# This file is meant to be sourced by ci-scripts

{% include 'header.j2' %}

# Run a command
alias cmd_prefix='docker exec pulp'

# Run a command as the limited pulp user
alias cmd_user_prefix='docker exec -u pulp pulp'

# Run a command, and pass STDIN
alias cmd_stdin_prefix='docker exec -i pulp'

# Run a command as the lmited pulp user, and pass STDIN
alias cmd_user_stdin_prefix='docker exec -i -u pulp pulp'
