{% include 'header.j2' %}

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: {{ precommit_versions["pre-commit-hooks"] | quote }}
    hooks:
      - id: check-yaml
      - id: check-added-large-files

  {% if flake8 -%}
  - repo: 'https://github.com/pycqa/flake8'
    rev: {{ precommit_versions["flake8"] | quote }}
    hooks:
      - id: flake8
        args: ["--config", ".flake8"]
        language_version: '3.11'
  {%- endif %}
  {%- if black %}

  - repo: 'https://github.com/psf/black'
    rev: {{ precommit_versions["black"] | quote }}
    hooks:
      - id: black
        language_version: "3.11"
        pass_filenames: false
        args: ["--extend-exclude", ".*venv.*", "."]
        {%- if flake8 %}
        additional_dependencies: ["flake8-black"]
        {%- endif %}
  {%- endif %}

  - repo: 'https://github.com/adrienverge/yamllint'
    rev: {{ precommit_versions["yamllint"] | quote }}
    hooks:
      - id: yamllint
  {%- if check_manifest %}

  - repo: 'https://github.com/mgedmin/check-manifest'
    rev: {{ precommit_versions["check-manifest"] | quote }}
    hooks:
      - id: check-manifest
  {%- endif %}

  # Custom checks
  - repo: local
    hooks:
      - id: check-bump
        name: check-bump
        language: python
        entry: .ci/scripts/check_bump.sh
        pass_filenames: false
        additional_dependencies: ["bump-my-version"]

      - id: check-requirements
        name: check-requirements
        language: python
        entry: python .ci/scripts/check_requirements.py
        pass_filenames: false
        additional_dependencies: ["packaging"]

      - id: check-gettext
        name: check-gettext
        language: unsupported_script
        types: [python]
        entry: .ci/scripts/check_gettext.sh

      - id: extra-lint
        name: extra-lint
        language: unsupported
        types: [python]
        entry: sh -c "[ ! -x .ci/scripts/extra_linting.sh ] || .ci/scripts/extra_linting.sh"
