{% include 'header.j2' %}
{% from 'macros.j2' import
  set_env_vars,
  checkout,
  setup_python,
  install_httpie,
  setup_env,
  display_logs,
  run_script,
  set_secrets,
  install_python_deps,
with context %}
---
name: {{ plugin_app_label | camel }} CI
on: {{ ci_trigger | default("{pull_request: {branches: ['*']}}") }}

concurrency:
  group: {{ '${{ github.ref_name }}-${{ github.workflow }}' }}
  cancel-in-progress: true

jobs:
{% if pre_job_template -%}{{ "  " | indent }}{% include pre_job_template.path %}{%- endif %}

  {%- if check_commit_message or lint_requirements %}
  ready-to-ship:
    runs-on: ubuntu-latest
    steps:
      {{ checkout(0) | indent(6) }}
      {{ setup_python() | indent(6) }}
      {% if check_commit_message -%}
      - name: Install requirements
        run: pip3 install github
      - name: Check commit message
        if: github.event_name == 'pull_request'
        env:
          {{ set_env_vars() | indent(10) }}
        run: sh .github/workflows/scripts/check_commit.sh
      {%- endif %}
      {% if lint_requirements -%}
      - name: Verify requirements files
        run: python .ci/scripts/check_requirements.py
      {%- endif %}
  {%- endif %}

  lint:
    uses: "./.github/workflows/lint.yml"

  build:
    needs: lint
    uses: "./.github/workflows/build.yml"

  test:
    needs: build
    uses: "./.github/workflows/test.yml"

{%- if test_deprecations %}
  deprecations:
    runs-on: ubuntu-latest
    if: github.base_ref == '{{ plugin_default_branch }}'
    needs: test
    steps:
      - name: Fail on deprecations
        run: |
          test -z "{{ "${{ needs.test.outputs.deprecations-pulp }}" }}"
          {%- if test_azure %}
          test -z "{{ "${{ needs.test.outputs.deprecations-azure }}" }}"
          {%- endif %}
          {%- if test_s3 %}
          test -z "{{ "${{ needs.test.outputs.deprecations-s3 }}" }}"
          {%- endif %}
          {%- if test_lowerbounds %}
          test -z "{{ "${{ needs.test.outputs.deprecations-lowerbounds }}" }}"
          {%- endif %}
      - name: Print deprecations
        if: failure()
        run: |
          echo "{{ "${{ needs.test.outputs.deprecations-pulp }}" }}" | base64 -d
          {%- if test_azure %}
          echo "{{ "${{ needs.test.outputs.deprecations-azure }}" }}" | base64 -d
          {%- endif %}
          {%- if test_s3 %}
          echo "{{ "${{ needs.test.outputs.deprecations-s3 }}" }}" | base64 -d
          {%- endif %}
          {%- if test_lowerbounds %}
          echo "{{ "${{ needs.test.outputs.deprecations-lowerbounds }}" }}" | base64 -d
          {%- endif %}
{%- endif %}

{% if post_job_template -%}{{ "  " | indent }}{% include post_job_template.path %}{%- endif %}
