{% include 'header.j2' %}
---
name: "{{ plugin_app_label | camel }} CodeQL"

on:
  workflow_dispatch:
  schedule:
    - cron: "37 1 * * 6"

concurrency:
  {%- raw %}
  group: "${{ github.ref_name }}-${{ github.workflow }}"
  {%- endraw %}
  cancel-in-progress: true

jobs:
  analyze:
    name: "Analyze"
    runs-on: "ubuntu-latest"
    permissions:
      actions: "read"
      contents: "read"
      security-events: "write"

    strategy:
      fail-fast: false
      matrix:
        language:
          - "python"

    steps:
      - name: "Checkout repository"
        uses: "actions/checkout@v6"

      - name: "Initialize CodeQL"
        uses: "github/codeql-action/init@v4"
        with:
          {%- raw %}
          languages: "${{ matrix.language }}"
          {%- endraw %}

      - name: "Perform CodeQL Analysis"
        uses: "github/codeql-action/analyze@v4"
...
