{% include 'header.j2' %}
{% from 'macros.j2' import
  checkout,
  setup_python,
  set_secrets,
  install_python_deps
with context %}
---
name: Create New Release Branch
on:
  workflow_dispatch:

env:
  RELEASE_WORKFLOW: true

jobs:
  create-branch:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false

    steps:
      {{ checkout(depth=0, path=plugin_name) | indent(6) }}

      {{ setup_python() | indent(6) }}

      {{ install_python_deps(["bump2version", "jinja2", "pyyaml", "packaging"]) | indent(6) }}

      {{ set_secrets(path=plugin_name) | indent(6) }}

      - name: Determine new branch name
        working-directory: {{ plugin_name }}
        run: |
          # Just to be sure...
          git checkout {{ plugin_default_branch }}
          NEW_BRANCH="$(bump2version --dry-run --list release | sed -Ene 's/^new_version=([[:digit:]]+\.[[:digit:]]+)\..*$/\1/p')"
          if [ -z "$NEW_BRANCH" ]
          then
            echo Could not determine the new branch name.
            exit 1
          fi
          echo "NEW_BRANCH=${NEW_BRANCH}" >> "$GITHUB_ENV"

      - name: Create release branch
        working-directory: {{ plugin_name }}
        run: |
          git branch "${NEW_BRANCH}"

      - name: Bump version on {{ plugin_default_branch }} branch
        working-directory: {{ plugin_name }}
        run: |
          bump2version --no-commit minor

      - name: Remove entries from CHANGES directory
        working-directory: {{ plugin_name }}
        run: |
          find CHANGES -type f -regex ".*\.\(bugfix\|doc\|feature\|misc\|deprecation\|removal\)" -exec git rm {} +

      - name: Checkout plugin template
        uses: actions/checkout@v4
        with:
          repository: pulp/plugin_template
          path: plugin_template
          fetch-depth: 0

      - name: Update CI branches in template_config
        working-directory: plugin_template
        run: |
          python3 ./plugin-template {{ plugin_name }} --github --latest-release-branch "${NEW_BRANCH}"
          git add -A

      - name: Make a PR with version bump and without CHANGES/*
        uses: peter-evans/create-pull-request@v6
        with:
          path: {{ plugin_name }}
          token: {{ '${{ secrets.RELEASE_TOKEN }}' }}
          committer: {{release_user}} <{{ release_email }}>
          author: {{release_user}} <{{ release_email }}>
          branch: minor-version-bump
          base: {{ plugin_default_branch }}
          title: Bump minor version
          body: '[noissue]'
          commit-message: |
            Bump minor version
            [noissue]
          delete-branch: true

      - name: Push release branch
        working-directory: {{ plugin_name }}
        run: |
          git push origin "${NEW_BRANCH}"
