{% include 'header.j2' %}
{% from 'macros.j2' import
  checkout,
  setup_python,
  install_python_deps,
with context %}
---
name: "Docs CI"
on:
  workflow_call:

jobs:
  changelog:
    if: "endsWith(github.base_ref, '{{ plugin_default_branch }}')"
    runs-on: "ubuntu-latest"
    defaults:
      run:
        working-directory: "{{ plugin_name }}"
    steps:
      {{ checkout(depth=1, path=plugin_name) | indent(6) }}
      {{ setup_python(pyversion="3.12") | indent(6) }}
      {{ install_python_deps(["towncrier"]) | indent(6) }}
      - name: "Build changelog"
        run: |
          towncrier build --yes --version 4.0.0.ci
  docs:
    uses: 'pulp/pulp-docs/.github/workflows/docs-ci.yml@{{ pulpdocs_branch }}'
    with:
      pulpdocs_ref: '{{ pulpdocs_branch }}'

  no-test:
    if: "!endsWith(github.base_ref, '{{ plugin_default_branch }}')"
    runs-on: "ubuntu-latest"
    steps:
      - run: |
          echo "Skip docs testing on non-default branches."
