{% include 'header.j2' %}
{% from 'macros.j2' import
  checkout,
  setup_python,
  install_python_deps,
with context %}
---
name: "Docs CI"
on:
  workflow_call:
    inputs:
      run_docs:
        description: "Whether to run docs jobs"
        required: true
        type: string

jobs:
  changelog:
    runs-on: "ubuntu-latest"
    defaults:
      run:
        working-directory: "{{ plugin_name }}"
    steps:
      {{ checkout(depth=1, path=plugin_name) | indent(6) }}
      {{ setup_python(pyversion="3.12") | indent(6) }}
      {{ install_python_deps(["towncrier"]) | indent(6) }}
      - name: "Build changelog"
        run: |
          towncrier build --yes --version 4.0.0.ci
  docs:
    if: {{ '${{ inputs.run_docs == \'1\' }}' }}
    uses: 'pulp/pulp-docs/.github/workflows/docs-ci.yml@{{ pulpdocs_branch }}'
    with:
      pulpdocs_ref: '{{ pulpdocs_branch }}'
