{% include 'header.j2' %}
{% from 'macros.j2' import
  checkout,
  setup_python,
with context %}
---
name: "Lint"
on:
  workflow_call:

defaults:
  run:
    working-directory: "{{ plugin_name }}"

jobs:
  lint:
    runs-on: ubuntu-latest
    {%- if pre_job_template %}
    needs: {{ pre_job_template.name }}
    {%- endif %}

    steps:
      {{ checkout(path=plugin_name) | indent(6) }}

      {{ setup_python() | indent(6) }}

      # lint_requirements contains tools needed for flake8, etc.
      - name: Install requirements
        run: pip3 install -r lint_requirements.txt

      {% if black -%}
      # run black separately from flake8 to get a diff
      - name: Run black
        run: |
          black --version
          black --check --diff .
      {%- endif %}

      {% if flake8 -%}
      # Lint code.
      - name: Run flake8
        run: flake8
      {%- endif %}

      - name: Run extra lint checks
        run: "[ ! -x .ci/scripts/extra_linting.sh ] || .ci/scripts/extra_linting.sh"

      {% if check_manifest -%}
      # check for any files unintentionally left out of MANIFEST.in
      - name: Check manifest
        run: check-manifest
      {%- endif %}

      {% if check_stray_pulpcore_imports -%}
      - name: Check for pulpcore imports outside of pulpcore.plugin
        run: sh .ci/scripts/check_pulpcore_imports.sh
      {%- endif %}

      {% if check_gettext -%}
      - name: Check for gettext problems
        run: sh .ci/scripts/check_gettext.sh
      {%- endif %}
