{% include 'header.j2' %}
{% from 'macros.j2' import
  checkout,
  setup_python,
  install_python_deps,
with context %}
---
name: "Lint"
on:
  workflow_call:

defaults:
  run:
    working-directory: "{{ plugin_name }}"

jobs:
  lint:
    runs-on: "ubuntu-latest"

    steps:
      {{ checkout(path=plugin_name) | indent(6) }}

      {{ setup_python() | indent(6) }}

      {{ install_python_deps(["-r", "lint_requirements.txt"]) | indent(6) }}

      - name: "Lint workflow files"
        run: |
          yamllint -s -d '{extends: relaxed, rules: {line-length: disable}}' .github/workflows

      - name: "Check formating"
        run: |
          ruff format --check --diff

      - name: "Lint code"
        run: |
          ruff check
      {%- if check_gettext %}

      - name: "Check for common gettext problems"
        run: |
          sh .ci/scripts/check_gettext.sh
      {%- endif %}

      - name: "Run extra lint checks"
        run: |
          [ ! -x .ci/scripts/extra_linting.sh ] || .ci/scripts/extra_linting.sh
...
