{% include 'header.j2' %}
{% from 'macros.j2' import
  checkout,
  setup_python,
  install_python_deps,
with context %}
---
name: "Lint"
on:
  workflow_call:

defaults:
  run:
    working-directory: "{{ plugin_name }}"

jobs:
  lint:
    runs-on: "ubuntu-latest"

    steps:
      {{ checkout(path=plugin_name) | indent(6) }}

      {{ setup_python() | indent(6) }}

      {{ install_python_deps(["pre-commit"]) | indent(6) }}

      # cache example from: https://pre-commit.com/#github-actions-example
      - name: set PY
        run: echo "PY=$(python -VV | sha256sum | cut -d' ' -f1)" >> $GITHUB_ENV
      - uses: actions/cache@v5
        with:
          path: ~/.cache/pre-commit
          {%- raw %}
          key: pre-commit|${{ env.PY }}|${{ hashFiles('.pre-commit-config.yaml') }}
          {%- endraw %}
      - name: Run pre-commit
        shell: "bash"
        env:
          PY_COLORS: "1"
          FORCE_COLOR: "1"
          PRE_COMMIT_COLOR: "always"
          TERM: "xterm-256color"
        run: |
          pre-commit run --all-files -v
