{% include 'header.j2' %}
{% from 'macros.j2' import
  checkout,
  configure_git,
  display_logs,
  install_python_deps,
  matrix_env,
  run_script,
  setup_env,
  setup_python,
with context %}
---
name: "{{ plugin_app_label | camel }} Nightly CI"
on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    # runs at 3:00 UTC daily
    - cron: '00 3 * * *'
  workflow_dispatch:

defaults:
  run:
    working-directory: "{{ plugin_name }}"

concurrency:
  group: "{{ '${{ github.ref_name }}-${{ github.workflow }}' }}"
  cancel-in-progress: true

jobs:
  build:
    uses: "./.github/workflows/build.yml"

  test:
    needs: "build"
    uses: "./.github/workflows/test.yml"
    with:
      matrix_env: |
        {{ matrix_env(performance=true) | from_yaml | tojson }}

  changelog:
    runs-on: ubuntu-latest
    steps:
      {{ checkout(depth=0, path=plugin_name) | indent(6) }}

      {{ setup_python(pyversion="3.11") | indent(6) }}

      {{ install_python_deps(["gitpython", "packaging", "toml"]) | indent(6) }}

      {{ configure_git() | indent(6) }}

      - name: Collect changes from all branches
        run: python .ci/scripts/collect_changes.py

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v6
        with:
          token: {{ '${{ secrets.RELEASE_TOKEN }}' }}
          title: "Update Changelog"
          body: ""
          branch: "changelog/update"
          delete-branch: true
          path: "{{ plugin_name }}"
...
