{% include 'header.j2' %}
{% from 'macros.j2' import
  checkout,
  setup_python,
  setup_ruby,
  install_python_deps,
  setup_env,
  display_logs,
  run_script,
with context %}
---
name: "Test"
on:
  workflow_call:

defaults:
  run:
    working-directory: "{{ plugin_name }}"

jobs:
  test:
    runs-on: "ubuntu-latest"
    strategy:
      fail-fast: false
      matrix:
        env:
          - TEST: pulp
          {%- if docs_test %}
          - TEST: docs
          {%- endif %}
          {%- if test_azure %}
          - TEST: azure
          {%- endif %}
          {%- if test_gcp %}
          - TEST: gcp
          {%- endif %}
          {%- if test_s3 %}
          - TEST: s3
          {%- endif %}
          {%- if test_lowerbounds %}
          - TEST: lowerbounds
          {%- endif %}

    steps:
      {{ checkout(path=plugin_name) | indent(6) }}

      {{ checkout(repository="pulp/pulp-openapi-generator", path="pulp-openapi-generator") | indent(6) }}

      {{ setup_python() | indent(6) }}

      - uses: "actions/download-artifact@v4"
        with:
          name: "plugin_package"
          path: "{{ plugin_name }}/dist/"

      {{ install_python_deps(["towncrier", "twine", "wheel", "httpie", "docker", "netaddr", "boto3", "ansible", "mkdocs"]) | indent(6) }}

      {{ setup_env() | indent(6) }}

      {{ run_script(name="Before Install", file="before_install.sh") | indent(6) }}

      {{ run_script(name="Install", file="install.sh") | indent(6) }}

      {{ run_script(name="Before Script", file="before_script.sh", extra_env={"REDIS_DISABLED": "${{ contains('%s', matrix.env.TEST) }}" % (disabled_redis_runners | default(["TILT"]) | join(' '))}) | indent(6) }}

      {{ run_script(name="Script", file="script.sh") | indent(6) }}
      {%- if test_deprecations %}

      - name: "Extract Deprecations from Logs"
        run: |
          docker logs pulp 2>&1 | grep -i pulpcore.deprecation | tee deprecations-{{ "${{ matrix.env.TEST }}" }}.txt

      - name: "Upload Deprecations"
        uses: actions/upload-artifact@v4
        with:
          name: "deprecations-{{ '${{ matrix.env.TEST }}' }}"
          path: "{{ plugin_name }}/deprecations-{{ '${{ matrix.env.TEST }}' }}.txt"
          if-no-files-found: "error"
          retention-days: 5
          overwrite: true
      {%- endif %}

      {%- if docs_test %}
      - name: Upload built docs
        if: {{ "${{ env.TEST == 'docs' }}" }}
        uses: actions/upload-artifact@v4
        with:
          name: "docs.tar"
          path: "{{ plugin_name }}/docs/docs.tar"
          if-no-files-found: "error"
          retention-days: 5
          overwrite: true
      {%- endif %}

      {{ display_logs() | indent(6) }}
