{% include 'header.j2' %}
---
name: CI Update
on:
  {%- if sync_ci %}
  schedule:
    # * is a special character in YAML so you have to quote this string
    # runs at 2:30 UTC daily
    - cron: '30 2 * * *'
  {% endif %}
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v2

      - name: Configure Git with pulpbot name and email
        run: |
          git config --global user.name 'pulpbot'
          git config --global user.email 'pulp-infra@redhat.com'

      - name: Run update
        run: |
          .github/workflows/scripts/update_ci.sh

      - name: Create Pull Request for CI files
        uses: peter-evans/create-pull-request@v3
        with:
          committer: {{  'pulpbot <pulp-infra@redhat.com>' }}
          author: {{  'pulpbot <pulp-infra@redhat.com>' }}
          branch: ${GITHUB_REF#refs/heads/}-update-ci-files
          base: ${GITHUB_REF#refs/heads/}
          title: 'Update CI for ${GITHUB_REF#refs/heads/}'
          body: '[noissue]'
          commit-message: |
            Update CI files for ${GITHUB_REF#refs/heads/}

            [noissue]
          delete-branch: true
