{% include 'header.j2' %}
{% from 'macros.j2' import
  checkout,
  setup_python,
  install_python_deps,
  configure_git,
with context %}

---
name: "{{ plugin_app_label | camel }} CI Update"
on:
  {%- if sync_ci %}
  schedule:
    # * is a special character in YAML so you have to quote this string
    # runs at 2:30 UTC every Sunday
    - cron: '30 2 * * 0'
  {%- endif %}
  workflow_dispatch:

jobs:
  update:
    runs-on: "ubuntu-latest"

    strategy:
      fail-fast: false

    steps:
      {#- "depth=0" is needed to run "git describe". #}
      {{ checkout(repository="pulp/plugin_template", path="plugin_template", depth=0) | indent(6) }}

      {{ setup_python() | indent(6) }}

      {{ install_python_deps(["gitpython", "requests", "packaging", "jinja2", "pyyaml"]) | indent(6) }}

      {{ configure_git() | indent(6) }}

      {%- for branch in [plugin_default_branch] + ci_update_branches  %}
      {{ checkout(path=plugin_name, ref=branch, depth=0) | indent(6) }}

      - name: "Run update"
        working-directory: "{{ plugin_name }}"
        run: |
          ../plugin_template/scripts/update_ci.sh

      - name: "Create Pull Request for CI files"
        uses: "peter-evans/create-pull-request@v4"
        with:
          token: "{{ '${{ secrets.RELEASE_TOKEN }}' }}"
          path: "{{ plugin_name }}"
          committer: "{{ release_user }} <{{ release_email }}>"
          author: "{{ release_user }} <{{ release_email }}>"
          title: "Update CI files for branch {{ branch }}"
          body: ""
          branch: "update-ci/{{ branch }}"
          base: "{{ branch }}"
          commit-message: |
            Update CI files

            {{ noissue_marker }}
          delete-branch: true
      {%- endfor %}
