# Welcome to Pulp {{ plugin_label | upper }}

The `{{ plugin_label | upper }}` plugin extends pulpcore to support hosting python packages.
This plugin is a part of the Pulp Project, and assumes some familiarity with the
[pulpcore documentation](site:pulpcore/).

If you are just getting started, we recommend:

- [Getting Started with {{ plugin_label | upper }}](site:{{ plugin_name }}/docs/tutorials/getting-started.md),
  for a starting out with a common use case.


